@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

:root {
  --black: #222;
  --grey: #555;
  --grey-light: #aaa;
  --off-white: #f0f0f0;
  --red: #ff0200;
  --yellow: #fc0;

  background-color: var(--off-white);
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

:root * {
  font-family: 'Roboto Mono', monospace;
  transition: all .2s ease-in-out;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.6rem;
}

input {
  background-color: var(--off-white);
  border: none;
  border-bottom: 1px solid var(--grey);
  margin-top: .4rem;
  padding: .4rem;
  width: 18rem;
}

input:focus {
  background-color: white;
  outline: none;
}

/** Overview **/
section.overview {
  padding: 2rem 10rem;
}

section.overview h1 {
  text-align: center;
}

@media(min-width: 1000px) {
  section.overview {
    max-width: 980px;
    margin: 0 auto;
  }
}
/** Overview **/

/** Submit Link Form **/
section.submit-link-form {
  padding: 1rem 0;
}

section.submit-link-form h3 {
  margin-bottom: 1rem;
}

section.submit-link-form form > * {
  display: block;
}

section.submit-link-form form > input:first-of-type {
  margin-bottom: 1rem;
}

section.submit-link-form form .invalid-url-error {
  color: var(--red);
  padding-top: .4rem;
  display: none;
}

section.submit-link-form form button {
  background-color: var(--off-white);
  border-radius: 0;
  border: 1px solid var(--grey);
  display: block;
  margin-top: 1rem;
  padding: .4rem 1rem;
}

section.submit-link-form form button:not(.disabled) {
  cursor: pointer;
}

section.submit-link-form form button:not(.disabled):hover {
  background-color: white;
  border-color: var(--black);
}

section.submit-link-form form button.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
/** Submit Link Form **/


/** Bookmark List **/
section.bookmark-list {
  padding: 1.2rem 0;
}

section.bookmark-list h3 {
  margin-bottom: 1rem;
}

section.bookmark-list > ul > li.bookmark {
  color: var(--grey-light);
  padding: .4rem 0;
}

section.bookmark-list > ul > li.bookmark:first-of-type {
  padding-top: 0;
}

section.bookmark-list > ul > li.bookmark:last-of-type {
  padding-bottom: 0;
}


section.bookmark-list > ul > li.bookmark a {
  color: var(--grey-light);
}

section.bookmark-list > ul > li.bookmark a:hover {
  color: var(--black) !important;
}

section.bookmark-list > ul > li.bookmark a:visited {
  color: var(--grey-light);
}
/** Bookmark List **/


/** Pagination **/
section.pagination {
  display: flex;
  justify-content: center;
}

section.pagination a.page-nav {
  color: var(--grey-light);
  padding: 0 .4rem;
  text-decoration: underline;
  user-select: none;
}

section.pagination a.page-nav.current {
  color: var(--black);
  pointer-events: none;
  text-decoration: none !important;
}

section.pagination a.page-nav.disabled {
  pointer-events: none;
  text-decoration: none !important;
}

section.pagination a.page-nav:not(.disabled):not(.current) {
  cursor: pointer;
}

section.pagination a.page-nav:not(.disabled):not(.current):hover {
  color: var(--black);
}
/** Pagination **/


/** Confirmation **/
section.link-addition-confirmation {
  background-color: var(--off-white);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 1;
  padding: 4rem 8rem;
  position: fixed;
  right: 0;
  top: 0;
}

section.link-addition-confirmation.hidden {
  display: none;
  opacity: 0;
}

section.link-addition-confirmation p:first-of-type {
  color: var(--grey-light);
  margin-bottom: 2.8rem;
  margin-top: .6rem;
}

section.link-addition-confirmation a {
  color: var(--grey);
  cursor: pointer;
  text-decoration: underline;
}

section.link-addition-confirmation a:hover {
  color: var(--black);
}

@media (min-width: 1000px) {
  section.link-addition-confirmation {
    max-width: 980px;
  }
}
/** Confirmation **/
